@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    @apply overflow-x-hidden w-screen bg-surface;
  }

  a {
    @apply cursor-default;
  }

  .container-base {
    @apply max-w-[1400px] w-[95%] mx-auto md:w-11/12;
  }

  .container-sm {
    @apply max-w-[800px] w-[95%] mx-auto md:w-11/12;
  }
}
