@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-surface-dim;
}

::-webkit-scrollbar-track {
  background-color: #131315;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #131315;
}

::-webkit-scrollbar-thumb {
  background-color: #313236;
  border-radius: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
