.abril-fatface {
  font-family: "Abril Fatface", system-ui;
}

.poppins {
  font-family: "Poppins", system-ui;
}

.heading-1 {
  font-family: "Abril Fatface", system-ui;
  font-weight: 400;
  font-size: 3.815rem;
}

.heading-2 {
  font-family: "Abril Fatface", system-ui;
  font-weight: 400;
  font-size: 3.052rem;
}

.heading-3 {
  font-family: "Abril Fatface", system-ui;
  font-weight: 400;
  font-size: 2.441rem;
}

.heading-4 {
  font-family: "Abril Fatface", system-ui;
  font-weight: 400;
  font-size: 1.953rem;
}

.heading-5 {
  font-family: "Abril Fatface", system-ui;
  font-weight: 400;
  font-size: 1.563rem;
}

.heading-6 {
  font-family: "Abril Fatface", system-ui;
  font-weight: 400;
  font-size: 1.25rem;
}

.display-5 {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-size: 1.563rem;
}

p,
.body {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-size: 1rem;
}

.body-2 {
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-size: 0.8rem;
}

.label {
  font-family: "Poppins", system-ui;
  font-weight: 700;
  font-size: 0.8rem;
}
